/* Login form styles */
.login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-form p {
    margin: 0;
    padding: 10px 0;
    font-size: 25px;
    color: #007bff;
    text-shadow: 1px 2px 2px red, -1px -2px 2px yellow;
  }
  
  .login-form input {
    width: calc(100% - 20px);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .login-form button {
    width: calc(100% - 20px);
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  /* Hover effect */
  .login-form:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  